# Rename this file to .env and update your values.
# The file .env is excluded from source control by .gitignore.

# Set the username for the broker
USERNAME=username-here
# Set the password for the broker
PASSWORD=password-here
# Set the hostname for the broker (will be used for the cert)
HOSTNAME=localhost
# Set the port for the broker
MQTT_PORT=8883
# Set the websocket port for the broker
WEBSOCKET_PORT=9443
# Set LOG_TYPE to any of the following:
# - error: Error messages
# - warning: Warning messages
# - notice: Normal operational messages (default)
# - information: Informational messages
# - debug: Debugging messages
LOG_TYPE=debug
